html, body, section, h3, h2 {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}
body {
    background: url(img/landing.svg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #171717;
    opaci
}
a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 700;
    color: #171717;
    font-size: x-large;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    color: black;
}
section {
    min-height: 70%;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, #footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: white;
}
li, #logo, #about img, #contact h3, nav, ul {
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transiton: all 200ms;
}

a:visited {
    text-decoration: none;
}
header {
    min-height: 80px;
    margin-top: 3%;
    margin-left: 3%;
    background: white;
    z-index: 1;
    border-radius: 40px/50%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 94%;
    backdrop-filter: blur(5px);
}
#logo {
    width: 55px;
    float: left;
    margin: 13px 0 0 13px;
}
#logo img {
    transform: scale(2)
}
#logo:hover {
    transform: scale(1.1)
}
#logo:active {
    transform: scale(0.8)
}
header nav {
    display: inline;
    text-align: inline;
}
header nav ul li {
    display: inline-block;
    margin: 25px 7% 0 0;
}
header nav ul li:hover {
    transform: scale(1.1)
}
header nav ul li:active {
    transform: scale(0.9);
}
#home, #about, #work { 
    padding: 0;
    margin: 0;

}
#home h1 {
    margin: 400px auto 0 auto;
    font-size: 110px;
    color: white;
}
#home h2 {
    font-size: 40px;
    color: white;
    padding-top: 20px;
    opacity: 0.9;
    padding-left: 5%;
    padding-right: 5%;
}
#about, #work {
    font-size: 50px;
}
#work li {
    display: inline-flex;
    display: compact;
    padding-top: 80px;
}
#work li:hover {
    transform: scale(1.05)
}
#work h3 {
    padding-bottom: 40px;
    padding-top: 200px;
}
#about img {
    width: 30%;
    float: left;
    margin-left: 5%;
    margin-top: 12%;
}
#about img:hover {
    transform: scale(1.04)
}
#about {
    padding-bottom: 200px;
    background-color: white;
    height: 100%;
}
#about p {
    width: 50%;
    text-align: left;
    float: right;
    padding-right: 5%;
    padding-top: 7%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: black;
}
#about h3 {
    position: center;
}
#footer {
    margin-top: 10%;
    position: center;
    padding-bottom: 0;
    padding-top: 0;
}
#contact {
    padding-top: 23%;
}
#contact h3:hover {
    transform: scale(0.96);
}