:root {
    --primary-color: #202124;
    --secondary-color: #ffffff;
    --font-color: #202124;
    --bg-color: #ffffff;
}
html, body, section, h3, h2 {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    scroll-snap-type: y proximity;
}
body {
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 700;
    color: var(--font-color);
    font-size: 2.5em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section {
    min-height: 70%;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, #footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: var(--font-color);
}
li, #logo, #about img, #contact h3, nav, ul, #home h1, #home h2 {
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transiton: all 200ms;
}

a:visited {
    text-decoration: none;
}
header {
    min-height: 80px;
    margin-top: 3%;
    margin-left: 3%;
    z-index: 1;
    border-radius: 40px/50%;
    width: 94%;
    position: static;
    top: 0;
}
#logo {
    width: 55px;
    float: left;
    margin: 13px 0 0 13px;
}
#logo img {
    transform: scale(3)
}
#logo:hover {
    transform: scale(1.1)
}
#logo:active {
    transform: scale(0.8)
}
header nav {
    display: inline;
    text-align: inline;
}
header nav ul li {
    display: inline-block;
    margin: 25px 7% 0 0;
}
header nav ul li:hover {
    transform: scale(1.05);
}
header nav ul li:active {
    transform: scale(0.9);
}
#home, #about, #work, #contact { 
    padding: 0;
    margin: 0;
    height: 100%;
    scroll-snap-align: start;
}
#home h1 {
    margin: 10% auto 0 auto;
    font-size: 10vw;
    color: var(--font-color);
}
#home h1:hover {
    transform: scale(0.98);
    cursor: pointer;
}
#home h2 {
    font-size: 40px;
    color: var(--font-color);
    opacity: 0.9;
    padding-left: 5%;
    padding-right: 5%;
}
#home h2:hover {
    transform: scale(0.98);
    cursor: pointer;
}
#about, #work {
    font-size: 50px;
}
#work li {
    display: inline-block;
    display: compact;
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;

}
#work li:hover {
    transform: scale(1.05)
}
#work h3 {
    padding-bottom: 40px;
    padding-top: 200px;
}
#about img {
    width: 30%;
    float: left;
    margin-left: 5%;
    margin-top: 12%;
}
#about img:hover {
    transform: scale(1.04)
}
#about {
    padding-bottom: 200px;
    background-color: var(--bg-color);
    height: 100%;
}
#about p {
    width: 50%;
    text-align: left;
    float: right;
    padding-right: 5%;
    padding-top: 14%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: var(--font-color);
}
#about h3 {
    position: center;
}
#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    background-color: var(--font-color);
}
#footer p {
    padding-top: 100px;
    color: var(--secondary-color);
}
#contact {
    padding-top: 23%;
    background-color: var(--bg-color);
    height: 100%;
}
#contact h2, #contact h3 {
    color: var(--font-color);
}
#contact h3:hover {
    transform: scale(0.96);
}